SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=mom-bot@hospital.local
SMTP_ALLOWED_HOSTS=localhost,127.0.0.1,::1
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_STARTTLS=false

MOM_RECIPIENTS_MEDICAL=medical-board@hospital.local,admin-board@hospital.local
MOM_RECIPIENTS_EXECUTIVE=executive-board@hospital.local
MOM_RECIPIENTS_ADMINISTRATIVE=admin-board@hospital.local